/* Devleaks personal preference for heading and emphasis
 * (matches some Obsidian Dracula Theme)
 *
 * Last updated: 25-MAR-2024
 *
 */
.md-typeset strong {
    color: RGB(255, 184, 108);
}
.md-typeset em {
    font-weight: bolder;
    color: RGB(80, 250, 123);
}
.md-typeset i {
    color: RGB(80, 250, 123);
}
.md-typeset b {
    color: rgb(255, 202, 128);
}
.md-typeset del {
    color: rgb(255, 149, 128);
}
.md-typeset h1 {
    color: RGB(189, 147, 249);
}
.md-typeset h2 {
    color: RGB(255, 184, 108);
}
.md-typeset h3 {
    color: RGB(80, 250, 123);
}
.md-typeset h4 {
    color: RGB(255, 85, 85);
}
.md-typeset h5 {
    color: RGB(241, 250, 140) !important;
}
.md-typeset h6 {
    color: RGB(139, 233, 253);
}